* {
    margin: 0px;
    padding: 0px;
}

body{ 
    background: url('fond.jpg');
    background-size: cover;
    /* overflow:hidden; */
    
    
}

p{
    font-size: 120px;
    font-family: 'Press Start 2P', cursive;
    color: rgb(254, 232, 16);
    display: flex;
    justify-content: center;
    margin-top: 120px;
   
}
.jeu{
    color: rgb(254, 232, 16);
    font-family: 'Press Start 2P', cursive;
    font-weight: 100px;
    display: flex;
    justify-content: center; 
}

.footer p {
    font-size: 12px;
    font-family:'Press Start 2P', cursive; 
    color: rgb(254, 232, 16);
    
}

.footer a{
    font-size: 12px;
    font-family:'Press Start 2P', cursive; 
    color: rgb(254, 232, 16); 
}

.footer{
    display: flex;
    justify-content: center;
}

#alien2{
    
    /* position: relative;  */
    padding-top: 24px;
    
}

#vaisseau2{
    position: relative;
    
}

#attak{
    display: flex;
    justify-content: space-between;
}
